body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}
.sidebar {
    width: 250px;
    transition: transform 0.3s ease-in-out;
}

/* Hide Sidebar when toggled */
.sidebar.hidden {
    transform: translateX(-100%);
}

/* Button/Icon for toggling sidebar */
.sidebar-toggle {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    align-items: center;
    margin-left: 20;
    top: 20px;
    left: 20px;
}


.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Keeps icons fixed on the right */
    background: #1f1f1f;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(245, 241, 241, 0.1);
}
.sidebar ul li:nth-child(2) {
    color: #A61419;         /* White text */
}
.left-section {
    display: flex;
    align-items: center;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px; /* Space between toggle and logo */
}

.logo img {
    margin-left:30px; 
    width:146px;
    height: auto;
}

.icons span {
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
}


.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background: #1f1f1f;
    color: #d9d9d9;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #d9d9d9;
}

.sidebar li {
    padding: 15px;
    cursor: pointer;
}

.sidebar li:hover {
    background-color: #f8f1f2;
    color:#A61419;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}


.articles .article {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}
.articles .article:hover{
    background:#f8f1f2;
}



.editing {
    font-size: 14px;
    font-weight: bold;
    color: #1f1f1f;
    display: flex;
    justify-content: flex-end;/* Aligns text to the left */
    align-items: center;  /* Centers vertically if needed */
}

.articles .editing:hover {
    color: #A61419;
}


.hidden {
    transform: translateX(-100%);
    position: absolute;
}
